@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Desktop */
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    background: #ffffff;
    /* margin-left: 84px;
    margin-right: 84px; */
    margin-top: 21px;
  }
  header,
  main {
    margin-left: 121px;
  }
  header {
    margin-bottom: 97px;
  }
  header img {
    height: 66px;
    width: 112px;
  }
  section {
    margin-bottom: 172px;
  }

  .section-preview {
    display: flex;
    flex-direction: column;
  }
  .section-preview .info {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
  }
  .section-preview .info span {
    width: 130px;
    height: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
  }
  .section-preview .info img {
    width: 22px;
    height: 22px;
  }
  .section-preview .content {
    display: flex;
    justify-content: space-between;
  }
  .section-preview .content .content-text > p {
    width: 414px;
    height: 62px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }
  .section-preview .content .content-text > h1 {
    width: 628px;
    height: 190px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
    color: #000000;

    /* margin-bottom: 20px; */
  }
  .section-preview .content .noroot {
    width: 304px;
    height: 356px;
  }
  .section-preview .blockquote {
    width: 483.63px;
    height: 200px;
    background: #1e4681;
    border-radius: 5px;
    align-self: center;
    margin-top: 68px;
  }
  .section-preview .blockquote .quote {
    width: 430.59px;
    height: 113px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #ffffff;
    margin: 20px;
  }
  .section-preview .blockquote .author {
    width: 280.5px;
    height: 45.64px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #ffffff;

    margin-left: 180px;
  }

  .section-about .content {
    display: flex;
    align-items: center;
    gap: 190px;
  }
  .section-about .content .cameraman {
    width: 314px;
    height: 315px;
  }
  .section-about .content .content-text h1 {
    width: 365px;
    height: 93px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 18px;
  }
  .section-about .content .content-text p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    width: 662px;
    height: 374px;
    color: #000000;
    margin-bottom: 94px;
  }
  .section-about .about-footer {
    display: flex;
    align-items: center;
    gap: 132px;
    margin-bottom: 178px;
  }
  .section-about .about-footer .lightcar {
    display: block;
    width: 232px;
    height: 203px;
  }
  .section-about .about-footer .category > h1 {
    width: 150px;
    height: 39px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }
  .section-about .about-footer .category > p {
    width: 150px;
    height: 39px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
  }

  .section-class .section-title {
    width: 667px;
    height: 93px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 89px;
  }
  .section-class .categories {
    display: flex;
    gap: 122px;
  }
  .section-class .category > h1 {
    width: 150px;
    height: 39px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #1e4681;
  }
  .section-class .category > p {
    width: 271px;
    height: 109px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
  }

  .section-learn .section-title {
    width: 667px;
    height: 93px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 21px;
  }
  .section-learn ul {
    width: 662px;
    height: 374px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
  }

  .section-program .section-title {
    width: 905px;
    height: 93px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 95px;
  }
  .section-program .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 37px;
  }
  .section-program .card {
    width: 399px;
    height: 328px;
    background: #ffffff;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  .section-program .card .card-title,
  .card-text {
    margin-left: 20px;
    margin-top: 11px;
  }
  .section-program .card .card-img {
    width: 399px;
    height: 160px;
  }
  .section-program .card .card-title {
    width: 365px;
    height: 39px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
  }
  .section-program .card .card-text {
    width: 365px;
    height: 63px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }
  .section-program .card .card-text span:before {
    content: "\a";
    white-space: pre;
  }

  .section-team {
    width: 1440px;
    height: 780px;
    background-color: #efefef;
    box-shadow: 0 0 0 100vmax #efefef;
    clip-path: inset(0 -100vmax);
    display: flex;
    align-items: center;
  }
  .section-team .section-title {
    width: 987px;
    height: 93px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 34px;
  }
  .section-team .team-content .rectangle {
    width: 791px;
    height: 451px;
    padding: 45px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #ffffff;
  }
  .section-team .team-content .rectangle .rectangle-text {
    width: 700px;
    height: 203px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;

    margin-bottom: 10px;
  }
  .section-team .team-content .rectangle .rectangle-author {
    display: flex;
    align-items: center;
  }
  .section-team .team-content .rectangle .rectangle-author .author-img {
    width: 190px;
    height: 169px;
  }
  .section-team .team-content .rectangle .rectangle-author .social {
    width: 32px;
    height: 31px;
  }
  .section-team .team-content .rectangle .rectangle-author .author-name {
    width: 353px;
    height: 59px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 101.38%;
    color: #000000;
  }

  .section-start-course {
    width: 1440px;
    height: 780px;
    background-color: #9dc9c8;
    box-shadow: 0 0 0 100vmax #9dc9c8;
    clip-path: inset(0 -100vmax);
  }
  .section-start-course .section-title {
    width: 908px;
    height: 66px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 54px;
  }
  .section-start-course .course-content .price-tag {
    display: flex;
    flex-direction: column;
  }
  .section-start-course .course-content .price-tag span:first-child {
    width: 170px;
    height: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
  }
  .section-start-course .course-content .price-tag span:last-child {
    width: 481px;
    height: 181px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101.38%;
    color: #000000;

    /* margin-bottom: 70px; */
  }
  .section-start-course .course-content .categories {
    display: flex;
    gap: 70px;
  }
  .section-start-course .course-content .category > h1 {
    width: 294px;
    height: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
  }
  .section-start-course .course-content .category > p {
    width: 294px;
    height: 70px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    color: #000000;
  }

  footer {
    width: 1440px;
    height: 390px;
    background-color: #000000;
    margin-left: 121px;
    margin-right: 121px;
    box-shadow: 0 0 0 100vmax #000000;
    clip-path: inset(0 -100vmax);
  }
  .footer-content {
    display: flex;
    gap: 656px;
  }
  .footer-content .footer-left,
  .footer-right {
    margin-top: 50px;
  }
  .footer-content .logo {
    width: 115px;
    height: 68px;
  }
  .footer-content .social-icon {
    margin-top: 30px;
    margin-right: 20px;
    width: 33px;
    height: 33px;
  }
  .footer-content .footer-right .contact {
    margin-bottom: 25px;
  }
  .footer-content .footer-right .contact .contact-icon {
    margin-right: 20px;
    width: 27px;
    height: 27px;
  }
  .footer-content .footer-right .contact .contact-text {
    width: 269px;
    height: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    color: #ffffff;
  }
  .copyright {
    position: relative;
    bottom: -100px;
    width: 230px;
    height: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    color: #ffffff;
  }
}
/* Tablet */
@media (max-width: 830px) {
  .container {
    width: 830px;
    background: #ffffff;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 21px;
  }
  header,
  main {
    margin-left: 49px;
  }
  header {
    margin-bottom: 56px;
  }
  header img {
    width: 64.87px;
    height: 38.23px;
  }
  section {
    padding-bottom: 100px;
  }

  .section-preview {
    display: flex;
    flex-direction: column;
  }
  .section-preview .info {
    display: flex;
    gap: 15px;
    margin-bottom: 8px;
  }
  .section-preview .info span {
    width: 75.29px;
    height: 18.53px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 115%;
    color: #000000;
  }
  .section-preview .info img {
    width: 12.74px;
    height: 12.16px;
  }
  .section-preview .content {
    display: flex;
    justify-content: space-between;
  }
  .section-preview .content .content-text > p {
    width: 264px;
    height: 36px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }
  .section-preview .content .content-text > h1 {
    width: 363.72px;
    height: 110.04px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 101.38%;
    color: #000000;

    /* margin-bottom: 20px; */
  }
  .section-preview .content .noroot {
    width: 176.07px;
    height: 206.18px;
  }
  .section-preview .blockquote {
    width: 280.11px;
    height: 115.83px;
    background: #1e4681;
    border-radius: 2.89583px;
    align-self: center;
    margin-top: 50px;
  }
  .section-preview .blockquote .quote {
    width: 249.38px;
    height: 65.45px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
    margin: 15px;
  }
  .section-preview .blockquote .author {
    width: 162.46px;
    height: 26.43px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    color: #ffffff;

    margin-left: 108px;
  }

  .section-about .content {
    display: flex;
    align-items: center;
    gap: 110px;
  }
  .section-about .content .cameraman {
    width: 181.86px;
    height: 182.44px;
  }
  .section-about .content .content-text h1 {
    width: 211.4px;
    height: 53.86px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 10px;
  }
  .section-about .content .content-text p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    width: 383.41px;
    height: 216.61px;
    color: #000000;
    margin-bottom: 54px;
  }
  .section-about .about-footer {
    display: flex;
    align-items: center;
    gap: 76px;
    margin-bottom: 103px;
  }
  .section-about .about-footer .lightcar {
    display: block;
    width: 134.37px;
    height: 117.57px;
  }
  .section-about .about-footer .category > h1 {
    width: 86.88px;
    height: 22.59px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    color: #000000;
  }
  .section-about .about-footer .category > p {
    width: 108px;
    height: 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: #000000;
  }

  .section-class .section-title {
    width: 386.3px;
    height: 53.86px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 52px;
  }
  .section-class .categories {
    display: flex;
    gap: 46px;
  }
  .section-class .category > h1 {
    width: 86.88px;
    height: 22.59px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    color: #1e4681;
  }
  .section-class .category > p {
    width: 172px;
    height: 63px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: #000000;
  }

  .section-learn .section-title {
    width: 386.3px;
    height: 53.86px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 12px;
  }
  .section-learn ul {
    width: 383.41px;
    height: 216.61px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
  }

  .section-program .section-title {
    width: 524.15px;
    height: 53.86px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 55px;
  }
  .section-program .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 21px;
  }
  .section-program .card {
    width: 231.09px;
    height: 189.97px;
    background: #ffffff;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    border-radius: 17.375px;
  }
  .section-program .card .card-title,
  .card-text {
    margin-left: 11px;
    margin-top: 6px;
  }
  .section-program .card .card-img {
    width: 231.09px;
    height: 92.67px;
  }
  .section-program .card .card-title {
    width: 211.4px;
    height: 41.12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 130%;
    color: #000000;
  }
  .section-program .card .card-text {
    width: 211.4px;
    height: 36.49px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }
  .section-program .card .card-text span:before {
    content: "\a";
    white-space: pre;
  }

  .section-team {
    width: 830px;
    height: 451.75px;
    background-color: #efefef;
    box-shadow: 0 0 0 100vmax #efefef;
    clip-path: inset(0 -100vmax);
    display: flex;
    align-items: center;
  }
  .section-team .section-title {
    width: 571.64px;
    height: 53.86px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 20px;
  }
  .section-team .team-content .rectangle {
    width: 458.12px;
    height: 261.2px;
    padding: 26px;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    border-radius: 17.375px;
    background: #ffffff;
  }
  .section-team .team-content .rectangle .rectangle-text {
    width: 405.42px;
    height: 117.57px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000;

    margin-bottom: 5px;
  }
  .section-team .team-content .rectangle .rectangle-author {
    display: flex;
    align-items: center;
  }
  .section-team .team-content .rectangle .rectangle-author .author-img {
    width: 110.04px;
    height: 97.88px;
  }
  .section-team .team-content .rectangle .rectangle-author .social {
    width: 18.53px;
    height: 17.95px;
  }
  .section-team .team-content .rectangle .rectangle-author .author-name {
    width: 204.45px;
    height: 34.17px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 101.38%;
    color: #000000;
  }

  .section-start-course {
    width: 830px;
    height: 451.75px;
    background-color: #9dc9c8;
    box-shadow: 0 0 0 100vmax #9dc9c8;
    clip-path: inset(0 -100vmax);
  }
  .section-start-course .section-title {
    width: 525.88px;
    height: 38.23px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 31px;
  }
  .section-start-course .course-content .price-tag {
    display: flex;
    flex-direction: column;
  }
  .section-start-course .course-content .price-tag span:first-child {
    width: 98.46px;
    height: 18.53px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
  }
  .section-start-course .course-content .price-tag span:last-child {
    width: 278.58px;
    height: 104.83px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 101.38%;
    color: #000000;

    /* margin-bottom: 70px; */
  }
  .section-start-course .course-content .categories {
    display: flex;
    gap: 40px;
  }
  .section-start-course .course-content .category > h1 {
    width: 170.28px;
    height: 18.53px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
  }
  .section-start-course .course-content .category > p {
    width: 170.28px;
    height: 40.54px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
    color: #000000;
  }

  footer {
    width: 834px;
    height: 225.88px;
    background-color: #000000;
    margin-left: 76px;
    margin-right: 76px;
    box-shadow: 0 0 0 100vmax #000000;
    clip-path: inset(0 -100vmax);
  }
  .footer-content {
    display: flex;
    gap: 380px;
  }
  .footer-content .footer-left,
  .footer-right {
    margin-top: 29px;
  }
  .footer-content .logo {
    width: 66.6px;
    height: 39.38px;
  }
  .footer-content .social-icon {
    margin-top: 17px;
    margin-right: 11px;
    width: 19.11px;
    height: 19.11px;
  }
  .footer-content .footer-right .contact {
    margin-bottom: 2px;
  }
  .footer-content .footer-right .contact .contact-icon {
    margin-right: 12px;
    width: 15.64px;
    height: 15.64px;
  }
  .footer-content .footer-right .contact .contact-text {
    width: 155.8px;
    height: 23.17px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 101.38%;
    color: #ffffff;
  }
  .copyright {
    position: relative;
    bottom: -80px;
    width: 133.21px;
    height: 23.17px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
    color: #ffffff;
  }
}
/* Mobile */
@media (max-width: 375px) {
  .container {
    width: 375px;
    background: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 36px;
  }
  header,
  main {
    margin-left: 35px;
  }
  header {
    margin-bottom: 45px;
  }
  header img {
    width: 52.19px;
    height: 30.75px;
  }
  section {
    margin-bottom: 76px;
  }

  .section-preview {
    display: flex;
    flex-direction: column;
  }
  .section-preview .info {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
  }
  .section-preview .info span {
    width: 60.58px;
    height: 14.91px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 115%;
    color: #000000;
  }
  .section-preview .info img {
    width: 10.25px;
    height: 9.79px;
  }
  .section-preview .content {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
  }
  .section-preview .content .content-text > p {
    width: 212.4px;
    height: 28.96px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #000000;
  }
  .section-preview .content .content-text > h1 {
    width: 292.63px;
    height: 88.53px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 101.38%;
    color: #000000;

    /* margin-bottom: 20px; */
  }
  .section-preview .content .noroot {
    width: 141.66px;
    height: 165.89px;
  }
  .section-preview .blockquote {
    width: 225.36px;
    height: 93.19px;
    background: #1e4681;
    border-radius: 2.32986px;
    align-self: center;
    margin-top: 48px;
  }
  .section-preview .blockquote .quote {
    width: 200.64px;
    height: 52.65px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: #ffffff;
    margin: 12px;
  }
  .section-preview .blockquote .author {
    width: 130.7px;
    height: 21.27px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    text-align: right;
    color: #ffffff;

    margin-left: 87px;
  }

  .section-about .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }
  .section-about .content .cameraman {
    width: 146.32px;
    height: 146.78px;
    margin-bottom: 59px;
  }
  .section-about .content .content-text h1 {
    width: 170.08px;
    height: 43.34px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 8px;
  }
  .section-about .content .content-text p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    width: 308.47px;
    height: 174.27px;
    color: #000000;
    /* margin-bottom: 94px; */
  }
  .section-about .about-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 76px;
  }
  .section-about .about-footer .lightcar {
    display: none;
    width: 232px;
    height: 203px;
  }
  .section-about .about-footer .category > h1 {
    width: 69.9px;
    height: 18.17px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
  }
  .section-about .about-footer .category > p {
    width: 86.89px;
    height: 18.5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
  }

  .section-class .section-title {
    width: 310.8px;
    height: 43.34px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 16px;
  }
  .section-class .categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .section-class .category > h1 {
    width: 99.72px;
    height: 18.17px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #1e4681;
  }
  .section-class .category > p {
    width: 165px;
    height: 51px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
  }

  .section-learn .section-title {
    width: 310.8px;
    height: 43.34px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 9px;
  }
  .section-learn ul {
    width: 299px;
    height: 174px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }

  .section-program .section-title {
    width: 421.7px;
    height: 43.34px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 35px;
  }
  .section-program .cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 24px;
  }
  .section-program .card {
    width: 185.92px;
    height: 152.84px;
    background: #ffffff;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
  }
  .section-program .card .card-title,
  .card-text {
    margin-left: 9px;
    margin-top: 5px;
  }
  .section-program .card .card-img {
    width: 185.92px;
    height: 74.56px;
  }
  .section-program .card .card-title {
    width: 170.08px;
    height: 33.08px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
  }
  .section-program .card .card-text {
    width: 170.08px;
    height: 29.36px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
  }
  .section-program .card .card-text span:before {
    content: "\a";
    white-space: pre;
  }

  .section-team {
    width: 375px;
    height: 423px;
    background-color: #efefef;
    box-shadow: 0 0 0 100vmax #efefef;
    clip-path: inset(0 -100vmax);
    display: flex;
    align-items: center;
  }
  .section-team .section-title {
    width: 257px;
    height: 69px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 11px;
  }
  .section-team .team-content .rectangle {
    width: 308px;
    height: 248px;
    padding: 21px;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    background: #ffffff;
  }
  .section-team .team-content .rectangle .rectangle-text {
    width: 266px;
    height: 111.01px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #000000;

    margin-bottom: 21px;
  }
  .section-team .team-content .rectangle .rectangle-author {
    display: flex;
    align-items: center;
  }
  .section-team .team-content .rectangle .rectangle-author .author-img {
    width: 80px;
    height: 84px;
  }
  .section-team .team-content .rectangle .rectangle-author .social {
    width: 14.91px;
    height: 17.2px;
  }
  .section-team .team-content .rectangle .rectangle-author .author-name {
    width: 164.49px;
    height: 32.73px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
  }

  .section-start-course {
    width: 671px;
    height: 363.46px;
    background-color: #9dc9c8;
    box-shadow: 0 0 0 100vmax #9dc9c8;
    clip-path: inset(0 -100vmax);
  }
  .section-start-course .section-title {
    width: 224px;
    height: 63px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 22px;
  }
  .section-start-course .course-content .price-tag {
    display: flex;
    flex-direction: column;
  }
  .section-start-course .course-content .price-tag span:first-child {
    width: 79.22px;
    height: 14.91px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 101.38%;
    color: #000000;
  }
  .section-start-course .course-content .price-tag span:last-child {
    width: 224.13px;
    height: 84.34px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 101.38%;
    color: #000000;

    /* margin-bottom: 70px; */
  }
  .section-start-course .course-content .categories {
    display: flex;
    gap: 31px;
  }
  .section-start-course .course-content .category > h1 {
    width: 137px;
    height: 14.91px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 101.38%;
    color: #000000;
  }
  .section-start-course .course-content .category > p {
    width: 140px;
    height: 38px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
    color: #000000;
  }

  footer {
    width: 375px;
    height: 251px;
    background-color: #000000;
    margin-left: 57px;
    margin-right: 57px;
    box-shadow: 0 0 0 100vmax #000000;
    clip-path: inset(0 -100vmax);
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 47px;
  }
  .footer-content {
    margin-top: 23px;
  }
  .footer-content .logo {
    width: 53.59px;
    height: 31.69px;
  }
  .footer-content .social-icon {
    margin-top: 13px;
    margin-right: 8px;
    width: 15.38px;
    height: 15.38px;
  }
  .footer-content .footer-right .contact {
    margin-bottom: 2px;
  }
  .footer-content .footer-right .contact .contact-icon {
    margin-right: 10px;
    width: 12.58px;
    height: 12.58px;
  }
  .footer-content .footer-right .contact .contact-text {
    width: 125.35px;
    height: 18.64px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 101.38%;
    color: #ffffff;
  }
  .copyright {
    position: relative;
    bottom: -50px;
    width: 141px;
    height: 19px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
    color: #ffffff;
  }
}
